---
layout: base
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Page Title</title>

  <!-- Include the CSS code here -->
  <style>
    .post-wrapper {
      display: flex;
      align-items: center; /* Align items vertically in the center */
    }

    .post-text {
      flex: 1; /* Take up remaining space in the flex container */
    }

    .post-image-wrapper {
      margin-left: 20px; /* Adjust margin as needed */
    }

    .left {
      flex: 0 0 40%;
      text-align: center;
      padding: 10px;
    }

    .right {
      flex: 1;
      padding: 10px;
    }

    .divider {
    display: flex;
  }
  </style>
</head>
<body>

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  
  <div class="divider">
    <div class="left">
      <img id="profilepic" width="200" height="200" style="border-radius: 50%;" src="/assets/adam-headshot_crop.jpg" alt="Profile">
    </div>
    <div class="right">
      <p>Hi! I'm Adam Kells, and welcome to my website!</p>
      <p>
        I am a data science manager currently working at Artefact. I'm passionate about using data to solve real-world problems and am constantly exploring the realms of machine learning, time series forecasting and natural language processing.
      </p>
      <p>
        In what feels like a different lifetime, I completed a PhD in Biophysics from KCL. You can find my papers on <a href="https://scholar.google.com/citations?user=vKNn-oYAAAAJ&hl=en">Google Scholar</a>
      </p>
      <!-- <p>
        <i>I'm happy to discuss research, so feel free to <a href="mailto:adamjkells93@gmail.com">reach out</a>!</i>
      </p> -->
    </div>
  </div>

  <!-- Add section for Blog Posts -->
  <section>
    <h2>Blog Posts</h2>
  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}

  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <div class="post-content">
          <span class="post-meta">{{ post.date | date: date_format }}</span>

          <div class="post-wrapper">
            <div class="post-text">
              <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">
                  {{ post.title | escape }}
                </a>
              </h3>

              {%- if post.subtitle -%}
                <p class="post-subtitle">{{ post.subtitle }}</p>
              {%- endif -%}

              {%- if site.show_excerpts -%}
                {{ post.excerpt }}
              {%- endif -%}
            </div>

            {%- if post.image -%}
              <div class="post-image-wrapper"  style="width: 50%;">
                <img class="post-image" src="{{ post.image | relative_url }}" style="width: 100%;">
              </div>
            {%- endif -%}
          </div>
        </div>
        
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}
  {%- endif -%}
</div>

</body>
</html>